{% extends "layout.html" %}
{% block title %}Main page{% endblock %}
{% block header %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
  {% block body %}
    <div class="prose p-10">
      <h1>Edit sets: {{ item.id }}</h1>
      <form
        hx-post="/sets/{{ item.id }}"
        hx-ext="json-enc"
        hx-target="#success-message"
      >
        <input
          type="text"
          placeholder="Band name"
          name="band_name"
          value="{{ item.band_name }}"
          class="input input-bordered w-full max-w-xs"
        />
        <input
          id="date"
          name="date"
          type="date"
          class="input input-bordered w-full max-w-xs"
          value="{{ item.date }}"
        />
        <input
          type="text"
          placeholder="Venue"
          name="venue"
          value="{{ item.venue }}"
          class="input input-bordered w-full max-w-xs"
        />
        <br />
        {# TODO actually flex this #}
        <textarea
          class="textarea textarea-bordered w-full max-w-xs"
          placeholder="Setlist"
        >
{{ item.setlist }}</textarea
        >
        <br />
        <button class="btn" type="submit">Submit</button>
      </form>
      <!-- Open the modal using ID.showModal() method -->
      <button class="btn btn-error" onclick="delete_modal.showModal()">
        Delete
      </button>
      <dialog id="delete_modal" class="modal">
        <div class="modal-box">
          <h3 class="text-lg font-bold">Are you sure you want to delete?</h3>
          <div class="modal-action">
            <form method="dialog">
              <!-- if there is a button in form, it will close the modal -->
              <button class="btn">Close</button>
              <button class="btn btn-error" hx-delete="/sets/{{ item.id }}">
                Confirm delete
              </button>
            </form>
          </div>
        </div>
      </dialog>
      <div id="success-message" class="mt-4"></div>
      <br />
      <a href="/sets">Back to sets</a>
    </div>
  {% endblock %}
{% endblock %}
