{% extends "layout.html" %}
{% block title %}Main page{% endblock %}
{% block header %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
  {% block body %}
    <div class="prose p-10">
      <h1>Sets</h1>
      {% for item in items %}
        <div>
          <label
            ><b>DJ:</b>
            {% for dj_name in item.dj_names %}
              {{ dj_name }}
              {% if not loop.last %}B2B{% endif %}
            {% endfor %}
          </label>
          <br />
          <label><b>Start time:</b> {{ item.start_time }}</label>
          <br />
          <label><b>Venue:</b> {{ item.venue }}</label>
          <br />
          <label><b>Setlist:</b> {{ item.setlist }}</label>
          <br />
          <a href="/sets/{{ item.id }}/edit">Edit</a>
          <a href="/sets/{{ item.id }}">View</a>
        </div>
      {% endfor %}

      <br />
      <br />
      <a href="/sets/new">New set</a>
    </div>
  {% endblock %}
{% endblock %}
