{% extends "layout.html" %}
{% block title %}Main page{% endblock %}
{% block header %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
  {% block body %}
    <div class="prose p-10">
      <h1>Sets</h1>
      {% for item in items %}
        <div>
          <label><b>Band name:</b> {{ item.band_name }}</label>
          <br />
          <label><b>Date:</b> {{ item.date }}</label>
          <br />
          <label><b>Venue:</b> {{ item.venue }}</label>
          <br />
          <label><b>Setlist:</b> {{ item.setlist }}</label>
          <br />
          <a href="/sets/{{ item.id }}/edit">Edit</a>
          <a href="/sets/{{ item.id }}">View</a>
        </div>
      {% endfor %}

      <br />
      <br />
      <a href="/sets/new">New set</a>
    </div>
  {% endblock %}
{% endblock %}
