{% extends "layout.html" %}
{% block title %}Main page{% endblock %}
{% block header %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
  {% block body %}
    <div class="prose p-10">
      <h1>View set: {{ item.id }}</h1>
      <label><b>Band name:</b> {{ item.band_name }}</label>
      <br />
      <label><b>Date:</b> {{ item.date }}</label>
      <br />
      <label><b>Venue:</b> {{ item.venue }}</label>
      <br />
      <label><b>Setlist:</b> {{ item.setlist }}</label>
      <br />
      <br />
      <a href="/sets">Back to sets</a>
    </div>
  {% endblock %}
{% endblock %}
